.chatScreen {
    margin-top: -15px;
}
.chatScreen_message {
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.chatScreen_text {
    margin-left: 10px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
}
.chatScreen_timestamp {
    text-align: center;
    margin-top: 10px;
    color: gray;
}
.chatScreen_textUser {
    padding: 15px;
    background-color: #29b3cd;
    color: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 20px;
}
/* .chatScreen_messageUser {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border: 1px solid black;
} */
