.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f9f9f9;
}
.header_logo {
    width: 60px;
    object-fit: contain;
}
.header_icon {
    padding: 20px;
}
